#resumePage{
    background-color: #fff;
    overflow:initial;
    border-radius: 4px;
}
#spaceholder {
    height:30px;
}
#resume {
    height:800px;
}
#resumeHolder {
    border-bottom:20px;
    width:80%
}

body {
    background-color: hsl(160,0,181);
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    display:block
}
.title {
    align:center;
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
}

.imageOfSelf {
    background-color:red;
    width:200px;
    height:200px;
    margin:auto;
}
section {
    margin-top:10px;
}
p {
    background-color:white;
    padding:10px;
    border-radius:5px;
}
.center {
    text-align:center;
}

#menu {
    align-self:end;
}
figcaption {
    background-color: white;
    border-radius:4px;
    padding-left:10px;
}
#tetrisIMG{
    border-radius:4px;
    width:80%;
    
    max-width:504px;
 
    height:auto;    
}
